.jumbotron{
    padding-top:7rem;
    background-color: #EEB2EE;
}

#projects{
    background-color: #EEB2EE;
}

section{
    padding-top: 5rem;
}

contact{
    background-color: #EEB2EE;
}

About{
    background-color:  #EEB2EE;
}